:root {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.p-1 {
  padding: 1rem;
}

.canvas-wrapper {
  flex: 1;
}

.canvas {
  cursor: crosshair;
}

.right-panel {
  background: #c4c4c4;
  flex: 0;
}

.top-panel {
  align-items: center;
  background: #7c7676;
}

.header {
  margin: 0;
  height: 60px;
  background: #544445;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.header li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 1rem;
  padding-bottom: 0.5rem;
}

.header li a:hover,
.is-active {
  border-bottom: solid 1px #fff;
}
